* {
    margin: 0;
    padding: 0;
    font-family: Microsoft Yahei, "Microsoft Sans Serif", "Apple Braille";
}


#header {
    width: 90%;
    height: 260px;
    padding: 30px 5%;
    background-image: linear-gradient(-225deg, rgb(85, 203, 242) 0%, rgb(61, 144, 239) 100%);
    position: relative;
}

#homeIcon > img {
    width: 40px;
    height: 40px;
}


#headImg {
    position: absolute;
    width: auto;
    height: 180px;
    right: 100px;
    bottom: -20px;
    opacity: 0.2;
    z-index: 0;
}

#nav {
    float: right;
    margin-top: 20px;
}

#nav > a {
    color: white;
    font-size: 1.1em;
    font-weight: lighter;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 0.2em;
    margin-left: 20px;
}

#title {
    font-size: 3em;
    color: white;
    font-weight: bold;
    margin: 70px 0 0 0;
    letter-spacing: 0.1em;
}

#date {
    font-size: 1.2em;
    color: white;
    font-weight: lighter;
    margin: 70px 0 0 0;
    letter-spacing: 0.15em;
}
