# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.idea
/node_modules/
/npm-debug.log
/yarn-error.log
/Page.qy-linux-ia32/
/Page.qy-darwin-x64/
/Page.qy-win32-ia32/
/Page.qy-linux-x64/
/Page.qy-mas-x64/
/Page.qy-win32-x64/
/Page.qy-linux-armv7l/
/require.txt
/dist/mac/
/dist/Page.qy-0.0.1-mac.zip
/dist/Page.qy-0.0.1.dmg
/build/node_modules/
/build/Page.qy-win32-x64/
/build/installers/
/template.json
/website/node_modules/
/build/Page.qy-linux-x64/
/build/Page.qy-darwin-x64/
/build/mac/
/build/Setup.exe
/build/Page.qy-v0.0.3.zip
/build/Page.qy-v0.0.3.exe
