
* {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'SourceHan-S-SCaa1324a01174d3';
    position: absolute;
    width: 100%;
    height: 300%;
}

a:link, a:visited {
    text-decoration: none;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}


#root {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0; left: 0;
    background-color: #f9f9f9;
    opacity: 0;
    transition: all 800ms ease-in;
}

.circle, #logoText {
    width: 0;
    height: 0;
    position: fixed;
    transition: all ease 600ms;
}
.circle { z-index: 1 }
#circle0 { z-index: 2 }
#logoText { z-index: 3 }


#title {
    color: black;
    text-align: center;
    line-height: 1.5em;
    position: fixed;
    width: 100%;
    transition: all ease 600ms;
}


.intro {
    width: 20%;
    text-align: center;
    position: fixed;
    transition: all ease 600ms;
    top: 100%;
}
.intro h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.intro p {
    font-size: 1em;
    line-height: 1.6em;
}


.button {
    width: 110px;
    height: 35px;
    font-size: 15px;
    line-height: 38px;
    position: fixed;
    left: calc(50% - 50px);
    border: none;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: all ease 600ms;
    display: none;
    opacity: 0;
}


#button0 {
    background-image: linear-gradient(-136deg, #f39a76 3%, #efd67f 99%);
}
#button1 {
    background-image: linear-gradient(-221deg, #FF839D 2%, #F50B9A 100%);
}
#button2 {
    background-image: linear-gradient(-221deg, #55CBF2 0%, #2F81ED 100%);
}


#download {
    position: fixed;
    bottom: calc(45% - 160px);
    width: 100%;
    height: 40px;
    text-align: center;
    transition: all ease 500ms;
}
#download img {
    height: 100%;
    width: auto;
    margin: 0 15px;
    cursor: pointer;
}
#downloadText {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: calc(45% - 200px);
    color: #626262;
    font-size: 16px;
    letter-spacing: 2px;
}
#download.show {
    animation: toggleDownload 300ms forwards;
}
#download.hide {
    animation: toggleDownload 300ms forwards reverse;
}
@keyframes toggleDownload {
    0% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
        display: block;
    }
}