
* {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

a:link, a:visited {
    text-decoration: none;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}


#root {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0; left: 0;
    background-color: #f9f9f9;
    opacity: 0;
    transition: all 800ms ease-in;
}

.circle, #logoText {
    width: 0;
    height: 0;
    position: fixed;
    transition: all ease 600ms;
}
.circle { z-index: 1 }
#circle0 { z-index: 2 }
#logoText { z-index: 3 }


#title {
    color: black;
    text-align: center;
    line-height: 1.5em;
    position: fixed;
    width: 100%;
    transition: all ease 600ms;
}


.intro {
    width: 20%;
    text-align: center;
    position: fixed;
    transition: all ease 600ms;
    top: 100%;
}
.intro h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.intro p {
    font-size: 1em;
}
