
#articles {
    width: 70%;
    margin-left: 15%;
    margin-top: 50px;
}

.article {
    width: 100%;
    margin-bottom: 50px;
    display: block;
    color: black;
}

.article .title {
    font-size: 2.2em;
    font-weight: bolder;
    letter-spacing: 0.03em;
    color: black;
    margin-left: -5px;
}

.article .introduction {
    margin: 15px 0;
    font-size: 1em;
    letter-spacing: 0.05em;
    font-weight: lighter;
}

.article .date{
    display: inline-block;
    font-size: 0.9em;
    font-style: italic;
    color: gray;
    letter-spacing: 0.1em;
}

.article .tags {
    display: inline-block;
    float: right;
    font-size: 0.9em;
    font-style: italic;
    color: gray;
    letter-spacing: 0.1em;
}

.article .tags li {
    display: inline-block;
    background-color: #d7d7d7;
    color: white;
    border-radius: 15px;
    height: 15px;
    line-height: 15px;
    padding: 5px 8px;
    margin-left: 10px;
    transition: all ease 200ms;
}

.article .tags li:hover {
    background-color: #bfbfbf;
    transform: scale(1.1);
}

.article hr {
    width: 100%;
    margin-top: 30px;
    opacity: 0.3;
}