
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, system-ui, "Microsoft YaHei UI","Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

::-webkit-scrollbar {
    display: none;
}

a:link, a:visited {
    text-decoration: none;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}


.wangEditor-container, .wangEditor-menu-container {
    border: none
}



/* Animation */
.articleContainer .articleOperateContainer {
    z-index: -1;
}
.articleContainer:hover .articleOperateContainer {
    z-index: 3;
}
.articleContainer .articleOperateButton {
    transform: scale(0.01);
    transition: all 400ms ease;
}
.articleContainer:hover .articleOperateButton {
    transform: scale(1);
}
.articleOperateButton:nth-child(1) {transition-delay: 0ms}
.articleOperateButton:nth-child(2) {transition-delay: 50ms}
.articleOperateButton:nth-child(3) {transition-delay: 100ms}
.articleOperateButton:nth-child(4) {transition-delay: 150ms}
.articleOperateButton:nth-child(5) {transition-delay: 200ms}


.theme .themeOperate {
    transform: translateY(100%);
    transition: all 400ms ease
}
.theme:hover .themeOperate {
    transform: translateY(0);
}


.addArticleButton {
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 20px 5px;
    transition: all ease-out 200ms;
    transform: scale(1)
}
.addArticleButton:hover {
    box-shadow: none;
    transform: scale(1.2)
}


.articleConfirm {
    transform: translateY(100%);
    transition: all 400ms ease
}
.articleConfirm.activated {
    transform: translateY(0);
}


@keyframes moveDeletedArticle {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(100% + 50px)); }
}
@keyframes hideDeletedArticle {
    0% {
        transform: translateX(calc(100% + 50px));
        opacity: 0;
    }
    100% {
        transform: translateX(calc(100% + 50px));
        height: 0;
        margin: 0;
        opacity: 0;
    }
}
/*.articleContainer {*/
    /*width: 90%;*/
    /*height: auto;*/
    /*margin: 80px 0 60px 5%;*/
    /*overflow: hidden*/
/*}*/
/*.articleContainer.deleted {*/
    /*animation: moveDeletedArticle ease-out 400ms forwards,*/
        /*hideDeletedArticle ease 200ms 400ms forwards;*/
/*}*/

