
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, system-ui, "Microsoft YaHei UI","Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

::-webkit-scrollbar {
    display: none;
}

a:link, a:visited {
    text-decoration: none;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}


/* Animation */
.articleContainer .articleOperateButton {
    bottom: -20%;
    transform: scaleY(0);
    opacity: 0;
    transition: all 300ms ease;
}
.articleContainer:hover .articleOperateButton:nth-child(1) {
    transition-delay: 140ms;
    bottom: 80%;
    transform: scaleY(1);
    opacity: 1;
}
.articleContainer:hover .articleOperateButton:nth-child(2) {
    transition-delay: 90ms;
    bottom: 60%;
    transform: scaleY(1);
    opacity: 1;
}
.articleContainer:hover .articleOperateButton:nth-child(3) {
    transition-delay: 50ms;
     bottom: 40%;
    transform: scaleY(1);
    opacity: 1;
}
.articleContainer:hover .articleOperateButton:nth-child(4) {
    transition-delay: 20ms;
    bottom: 20%;
    transform: scaleY(1);
    opacity: 1;
}
.articleContainer:hover .articleOperateButton:nth-child(5) {
    transition-delay: 0ms;
    bottom: 0;
    transform: scaleY(1);
    opacity: 1;
}


.theme .themeOperate {
    transform: translateY(100%);
    transition: all 400ms ease
}
.theme:hover .themeOperate {
    transform: translateY(0);
}


.addArticleButton {
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 20px 5px;
    transition: all ease-out 200ms;
    transform: scale(1)
}
.addArticleButton:hover {
    box-shadow: none;
    transform: scale(1.2)
}


.articleConfirm {
    top: 100%;
    transform: scaleY(0);
    transition: all 400ms ease
}
.articleConfirm.activated {
    top: 0;
    transform: scaleY(1);
}


.articleContainer {
    transition: all ease 300ms;
    transform: scale(1);
}
.articleContainer.deleted {
    transform: scale(0);
    opacity: 0;
}
