* {
    margin: 0;
    padding: 0;
    font-family: Microsoft Yahei, "Microsoft Sans Serif", "Apple Braille";
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}


.wangEditor-container, .wangEditor-menu-container {
    border: none
}

body {
    /*background-color: #f5f5f5;*/
}

