
::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", -apple-system, system-ui, "Microsoft YaHei UI","Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

body {
    margin-top: 32px;
}

.wangEditor-container {
    position: absolute;
    top: 0;  left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.wangEditor-menu-container,
.wangEditor-menu-container.wangEditor-menu-shadow {
    position: static;
    top: 80px;
}

#editorContainer {
    padding-top: 20px;
}

.wangEditor-menu-container .menu-group {
    background-color: white;
}

.wangEditor-drop-panel textarea {
    font-size: 1em;
}
.wangEditor-drop-panel select {
    font-size: 1.5em;
}

.wangEditor-txt#editorContainer a {
    font-size: 1em;
    color: black;
    font-weight: bold;
    transition: all ease 300ms;
}

.wangEditor-txt#editorContainer a:hover {
    text-decoration: underline;
}

.wangEditor-txt#editorContainer h1 {
    font-size: 2em;
    line-height: 2.5em;
    margin: 35px 0 15px 0;
}

.wangEditor-txt#editorContainer h2 {
    font-size: 1.6em;
    line-height: 2em;
    margin: 30px 0 10px 0;
}

.wangEditor-txt#editorContainer h3 {
    font-size: 1.3em;
    line-height: 2.3em;
    margin: 25px 0 8px 0;
}

.wangEditor-txt#editorContainer h4,
.wangEditor-txt#editorContainer h5,
.wangEditor-txt#editorContainer h6 {
    font-size: 1.15em;
    line-height: 1.8em;
    margin: 15px 0 5px 0;
}

.wangEditor-txt#editorContainer p,
.wangEditor-txt#editorContainer dl,
.wangEditor-txt#editorContainer ol,
.wangEditor-txt#editorContainer ul,
.wangEditor-txt#editorContainer pre,
.wangEditor-txt#editorContainer code {
    margin: 0;
    padding: 0;
    font-size: 1.05em;
    line-height: 1.8em;
}

.wangEditor-txt#editorContainer ul,
.wangEditor-txt#editorContainer ol {
    margin: 20px;
}

.wangEditor-txt#editorContainer li {
    margin: 6px 0 6px 0;
}

.wangEditor-txt#editorContainer abbr {
    border-bottom: 1px black dotted;
    cursor: help;
}

.wangEditor-txt#editorContainer pre {
    color: #898989;
    padding: 15px 18px;
    margin: 25px 0;
    font-size: 13px;
    line-height: 1.5em;
    background-color: rgba(0,0,0, 0.02);
    border-radius: 0;
    border: none;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,0.2);
}

.wangEditor-txt#editorContainer table {
    width: 100%;
    font-size: 1.125rem;
}

.wangEditor-txt#editorContainer a {
    text-decoration: underline;
    transition: all ease 200ms;
}

.wangEditor-txt#editorContainer a:hover {
    transform: scale(1.05);
}

.wangEditor-txt#editorContainer img {
    display: block;
    margin: 25px auto;
    border-radius: 0;
    box-shadow: 0 3px 15px 1px rgba(0,0,0,0.2);
}

.wangEditor-txt#editorContainer table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    margin: 20px 0;
}

.wangEditor-txt#editorContainer table tr {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
}

.wangEditor-txt#editorContainer table td,
.wangEditor-txt#editorContainer table th {
    border: 1px solid #999;
    padding: 3px 5px;
    min-width: 50px;
    height: 20px;
    box-sizing: border-box;
}

.wangEditor-txt#editorContainer blockquote {
    padding: 5px 15px;
    border-left: 5px solid gray;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 20px 0;
}
