@charset "UTF-8";
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: local('Merriweather Light'), local('Merriweather-Light'), url(../fonts/Merriweather-Light.ttf);
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    src: local('Merriweather Heavy'), local('Merriweather-Heavy'), url(../fonts/Merriweather-Bold.ttf);
}
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 300;
    src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'), url(../fonts/Merriweather-LightItalic.ttf);
}
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    src: local('Merriweather Heavy Italic'), local('Merriweather-HeavyItalic'), url(../fonts/Merriweather-HeavyItalic.ttf);
}