<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Archives</title>
    <link type="text/css" rel="stylesheet" href="{{ style.common }}"/>
    <link type="text/css" rel="stylesheet" href="{{ style.archives }}"/>
</head>
<body>
<div id="header">
    <img src="{{ statics['nav.jpg'] }}">
    <a id="navHome" href="{{ links.home }}">HOME</a>
    <div id="nav">
        <a href="{{ links.tags }}">TAGS</a>
        <a href="{{ links.archives }}">ARCHIVES</a>
        <a href="{{ links.about }}">ABOUT</a>
    </div>
    <h1 id="headTitle">ARCHIVES</h1>
    <hr>
    <p id="introduction">{{ user.selfIntroduction }}</p>
</div>
<div id="archives">
    <template @for="yearData of archives">
        <h1>YEAR {{ yearData.year }}</h1>
        <template @for="monthData of yearData.months">
            <h2>MONTH {{ monthData.month }}</h2>
            <template @for="article of monthData.articles">
                <a href="{{ article.link }}"><h3>{{ article.title }}</h3></a>
                <p>Written By {{ user.name }}
                    on {{ article.createDate.month }}/{{ article.createDate.date }} {{ article.createDate.year }}</p>
            </template>
        </template>
    </template>
</div>


<p id="footer">Powered With ❤ By <a>Page.qy</a></p>

<script type="text/javascript" src="{{ script.common }}"></script>
</body>
</html>
