<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{{ style }}/common.css"/>
    <link type="text/css" rel="stylesheet" href="{{ style }}/article.css"/>
</head>
<body>
<div id="header">
    <img src="{{ statics }}/nav.jpg">
    <a id="navHome" href="{{ link.home }}">HOME</a>
    <div id="nav">
        <a href="{{ link.tags }}">TAGS</a>
        <a href="{{ link.archives }}">ARCHIVES</a>
        <a href="{{ link.about }}">ABOUT</a>
    </div>
    <h1 id="headTitle">{{ title }}</h1>
    <hr/>
    <p id="introduction">Written By {{ user.name }}
        on {{ data.date.month }}/{{ data.date.date }} {{ data.date.year }}</p>
</div>

<ul id="tags">
    <template @for="tag of data.tags">
        <li><a>#{{ tag }}</a></li>
    </template>
</ul>

<div id="content">{{ data.content }}</div>

<hr id="footerLine"/>
<p id="footer">Powered With ❤ By <a>Page.qy</a></p>

<script type="text/javascript" src="{{ script }}/common.js"></script>
<script type="text/javascript" src="{{ script }}/article.js"></script>
</body>
</html>
