<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{{ style }}/common.css"/>
    <link type="text/css" rel="stylesheet" href="{{ style }}/article.css"/>
</head>
<body>
<div id="header">
    <a id="homeIcon" href="{{ link.home }}">
        <img src="{{ statics }}/home.svg">
    </a>
    <div id="nav">
        <a id="navHome" href="{{ link.home }}">Home</a>
        <a id="navTags" href="{{ link.tags }}">Tags</a>
        <a id="navArchives" href="{{ link.archives }}">Asrchives</a>
        <a id="navAbout" href="{{ link.about }}">About</a>
    </div>
    <h1 id="title">Welcome to {{ user.username }}'s!</h1>
    <p id="date">{{ user.selfIntroduction }}</p>
    <img id="headImg" src="{{ statics }}/article.svg">
</div>

<div id="content">{{ data.content }}</div>
<div id="userInfo">
    <div id="avatar">{{ data.avatar }}</div>
    <div id="selfIntroduction">{{ data.selfIntroduction }}</div>
    <div id="tags"><ul>
        <template @for="tag of data.tags">
            <li>{{ tag }}</li>
        </template>
    </ul></div>
    <div id="archives">{{ data.archives }}</div>
</div>


<script type="text/javascript" src="{{ script }}/common.js"></script>
<script type="text/javascript" src="{{ script }}/tags.js"></script>
</body>
</html>
