<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ style }}
    <title>{{ data.title }}</title>
</head>
<body>
<div id="header">
    <a id="homeIcon" href="{{ link.home }}">
        <img src="{{ static }}/home.svg">
    </a>
    <div id="nav">
        <a id="navHome" href="{{ link.home }}">Home</a>
        <a id="navTags">Tags</a>
        <a id="navArchives">Archives</a>
        <a id="navAbout">About</a>
    </div>
    <h1 id="title">Welcome to {{ data.username }}'s!</h1>
    <p id="date">{{ data.selfIntroduction }}</p>
    <img id="headImg" src="{{ static }}/home.svg">
</div>

<div id="articleContainer">
    <a class="article">
        <p class="date">October 03, 2016</p>
        <div class="tags">
            <a class="tag">#Hello</a><a class="tag">#Intro</a>
        </div>
        <h1 class="title">Welcome to Page.qy!</h1>
        <p>😉You just set up your site.qy successful! It's quite light and easy to use. Just enjoy writing with it~</p>
    </a>
</div>

{{ script }}
</body>
</html>
