<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ style }}
    <title>{{ data.title }}</title>
</head>
<body>
<div id="header">
    <a id="homeIcon" href="{{ link.home }}">
        <img src="{{ static }}/home.svg">
    </a>
    <div id="nav">
        <a id="navHome" href="{{ link.home }}">Home</a>
        <a id="navTags">Tags</a>
        <a id="navArchives">Archives</a>
        <a id="navAbout">About</a>
    </div>
    <h1 id="title">Welcome to {{ data.username }}'s!</h1>
    <p id="date">{{ data.selfIntroduction }}</p>
    <img id="headImg" src="{{ static }}/home.svg">
</div>

<div id="articleContainer">
    <template @for="article of data.articles">
        <div class="article">
            <h1>{{ article.title }}</h1>
            <p>{{article.content}}</p>
            <template @for="tag of article.tags">
                <a class="tag">{{ tag }}</a>
            </template>
        </div>
    </template>
</div>

{{ script }}
</body>
</html>
