<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{{ style }}/common.css"/>
    <link type="text/css" rel="stylesheet" href="{{ style }}/index.css"/>
</head>
<body>
<div id="header">
    <img src="{{ statics }}/nav.jpg">
    <a id="navHome" href="{{ link.home }}">HOME</a>
    <div id="nav">
        <a href="{{ link.tags }}">TAGS</a>
        <a href="{{ link.archives }}">ARCHIVES</a>
        <a href="{{ link.about }}">ABOUT</a>
    </div>
    <h1 id="headTitle">{{ user.username }}'s Blog</h1>
    <hr>
    <p id="introduction">{{ user.selfIntroduction }}</p>
</div>
<div id="articles">
    <template @for="article of data">
        <div class="article">
            <a class="title" href="{{ article.link }}">{{ article.title }}</a>
            <div class="introduction">{{ article.introduction }}</div>
            <p class="date">Written By {{ user.name }}
                on {{ article.date.month }}/{{ article.date.date }} {{ article.date.year }}</p>
            <ul class="tags">
                <template @for="tag of article.tags">
                    <li><a href="{{ link.tags }}#tag-{{ tag }}">#{{ tag }}</a></li>
                </template>
            </ul>
            <hr>
        </div>
    </template>
</div>


<p id="footer">Powered With ❤ By <a>Page.qy</a></p>

<script type="text/javascript" src="{{ script }}/common.js"></script>
</body>
</html>
