#articleContainer {
    width: 90%;
    margin: 50px 5% 20px 5%;
}


.article {
    width: calc(100% - 35px);
    border-left: 5px solid #42A5F0;
    padding: 0 10px 0 20px;
    margin: 80px 0 60px 0
}

.date {
    display: inline-block;
}

.tags {
    display: inline-block;
    float: right;
}

.tag {
    margin-left: 30px;
    color: #1d8bd9;
}